
.row{
display: block;
flex-wrap: wrap;
}

.thumbnail img {
width: 100%;
}
.thumbnail{
  padding: 0;
}

.thumbnail .caption-full{
  padding: 9px;
}


.delete-form{
display:inline;
}

  .alert{
    padding: 1px;
}

  .alert h1{
    margin: 10px;
    font-size: 15px;
  }
